<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>RMS - Rescue Management System</title>
	<link rel="stylesheet" href="static/styles.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="static/print.css" media="print" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script src="http://openlayers.org/api/OpenLayers.js"></script>
	
</head>
<body>
<div id="wrapper"><!-- #wrapper -->

	<header><!-- header -->
		<h1><a href="#">Rescue Managment System</a></h1>
	</header><!-- end of header -->
	
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="editor.html">Editor</a></li>
				<li><a href="viewer.html">Viewer</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->


	<section id="main"><!-- #main content and sidebar area -->
		<section id="container"><!-- #container -->
			<section id="content"><!-- #content -->
			
        		<article>
							<h2><a href="#">Einsatzliste</a></h2>
							<div id="basicMap" style="width: 550px; height: 400px">
<iframe src="http://www.mappingsupport.com/p/gmap4.php?q=http://secret-chamber-4835.herokuapp.com/getGPX.gpx" width="550px" height="400px" align="center"></iframe>
</div>	
														
						</article>
						
        		
						
			</section><!-- end of #content -->
		</section><!-- end of #container -->

		<aside class="sidebarblock"><!-- sidebarblock -->
				<h3>SMS Receiver</h3>
				{% csrf_token %}</br>

				{% for msg in output_texts %}
					<table border=1; width=200; style="float:left; text-align:center" margin-left:2px; margin-bottom:5px>
  					<tr>

					    <th name="Sender">{{ msg.sender }}</th>
					    <th name="time">{{ msg.receiveTime }}</th>

					  </tr>
					  <tr>
					    <td name="text" colspan="2" style="text-align:center">{{ msg.text }}</td>
					  </tr>
					</table>
				{% endfor %}

				</br>{% csrf_token %}</br>{% csrf_token %}</br>{% csrf_token %}</br>
							
		</aside><!-- end of sidebarblock -->
		
				<aside class="sidebarblock"><!-- sidebarblock -->
				<h3>People on the team</h3>
					{% if people %}
					<ul>
					    {% for p in people %}
					    <li>{{ p.name }}</li>
					    {% endfor %}
					</ul>
					{% endif %}
					
		</aside><!-- end of sidebarblock -->
		
				<aside class="sidebarblock"><!-- sidebarblock -->
				<h3>Connect With Us</h3>
					<ul>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
					</ul>
					
		</aside><!-- end of sidebarblock -->

	</section><!-- end of #main content and sidebar-->

	<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside id="first" class="footer-segment">
							<h3>Blogroll</h3>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #first footer segment -->

					<aside id="second" class="footer-segment">
							<h3>Awesome Stuff</h3>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #second footer segment -->

					<aside id="third" class="footer-segment">
							<h3>Coolness</h3>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #third footer segment -->
					
					<aside id="fourth" class="footer-segment">
							<h3>Blahdyblah</h3>
								<p>&copy; 2010 <a href="#">yoursite.com</a> Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
					</aside><!-- end of #fourth footer segment -->

			</section><!-- end of #footer-outer-block -->

		</section><!-- end of #footer-area -->
	</footer>

</div><!-- #wrapper -->
<!-- Free template created by http://freehtml5templates.com -->
</body>
</html>
