<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>RMS - Rescue Management System</title>
	<link rel="stylesheet" href="static/styles.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="static/print.css" media="print" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script src="http://openlayers.org/api/OpenLayers.js"></script>
	
</head>
<body>
<div id="wrapper"><!-- #wrapper -->

	<header><!-- header -->
		<h1><a href="#">Rescue Managment System</a></h1>
	</header><!-- end of header -->
	
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="alarmWebStart">Create new mission</a></li>
                <li><a href="viewMission">View current mission</a></li>
                <li><a href="contactUs">Contact Us</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->


	<section id="main"><!-- #main content and sidebar area -->
		<section id="container"><!-- #container -->
			<section id="content"><!-- #content -->
			
        		<article>
							<h2><a href="#">Smartphone Receiver</a></h2>
							<div id="basicMap" style="width: 550px; height: 400px">
<iframe src="http://www.mappingsupport.com/p/gmap4.php?q=http://secret-chamber-4835.herokuapp.com/getGPX.gpx" width="550px" height="400px" align="center"></iframe>
</div>	
														
						</article>
						
        		
						
			</section><!-- end of #content -->
		</section><!-- end of #container -->

		<aside class="sidebarblock"><!-- sidebarblock -->
				<h3>SMS Receiver</h3>
				{% csrf_token %}

				{% for msg in output_texts %}
					<table border=1; width=200; style="float:left; text-align:center" margin-left:2px; margin-bottom:5px>
  					<tr>

					    <th name="Sender">{{ msg.sender }}</th>
					    <th name="time">{{ msg.receiveTime }}</th>

					  </tr>
					  <tr>
					    <td name="text" colspan="2" style="text-align:center">{{ msg.text }}</td>
					  </tr>
					</table>
				{% endfor %}

				<form method="post"> <input name="sms" type="text" size="30" maxlength="160">  <br> <input type="submit" value="Send"> </form>							
		</aside><!-- end of sidebarblock -->
		
				<aside class="sidebarblock"><!-- sidebarblock -->
				<h3>People on the team</h3>
					{% if people %}
					<ul>
					    {% for p in people %}
					    <li>{{ p.name }}</li>
					    {% endfor %}
					</ul>
					{% endif %}
					
		</aside><!-- end of sidebarblock -->
		

	</section><!-- end of #main content and sidebar-->

	<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside id="first" class="footer-segment">
							<h3>About us</h3>
								<ul>
									<li><a href="http://www.bergwacht-bayern.de/index.php?id=9">DIE BERGWACHT BAYERN</a></li>
									<li><a href="http://www.bergwacht-bayern.de/index.php?id=24&L=0%3Fid%3D40%3Fid%3D13%3Fid%3D41%3Fid%3D9%3Fid%3D8">Chronik</a></li>							
								</ul>
					</aside><!-- end of #first footer segment -->

					<aside id="second" class="footer-segment">
							<h3>Donate us</h3>
								<ul>
									<li><a href="http://www.bergwacht-bayern.de/index.php?id=40&L=0%3Fid%3D40%3Fid%3D13%3Fid%3D41%3Fid%3D9%3Fid%3D8">Förderer werden</a></li>
								</ul>
					</aside><!-- end of #second footer segment -->

					<aside id="third" class="footer-segment">
							<h3>Member</h3>
								<ul>
									<li><a href="http://www.bergwacht-bayern.de/index.php?id=41&L=0">Mitglied werden</a></li>
									<li><a href="http://www.bergwacht-bayern.de/index.php?id=5931&L=0">Informationen</a></li>

								</ul>
					</aside><!-- end of #third footer segment -->
					
					<aside id="fourth" class="footer-segment">
							<h3>Impressum</h3>
								<p>&copy; 2014 <a href="http://www.bergwacht-bayern.de/index.php?id=12&L=0%3Fid%3D40%3Fid%3D13%3Fid%3D41%3Fid%3D9%3Fid%3D8">berwacht-bayern.de</a> Powered by SG and CS (hackzurich14)</p>
					</aside><!-- end of #fourth footer segment -->
					
					

			</section><!-- end of #footer-outer-block -->

		</section><!-- end of #footer-area -->
	</footer>

</div><!-- #wrapper -->
<!-- Free template created by http://freehtml5templates.com -->
</body>
</html>
